{% if items is defined and items %}
<div class="list-items">
	{% for item in items %}
		<div class="item-container">
			<div class="item">
				<figure class="back">
					<a href="{{ item.link }}" class="name"><strong>{{ item.name }}</strong></a>
					{% if item.type is not empty %}
						<div class="links-item type">
							<a href="{{ item.type.link }}" title="{% trans %}Type{% endtrans %}">{{ item.type.name }}</a>
						</div>
					{% endif %}
					{% if item.item is not empty %}
						<div class="links-item add already">
							<a href="{{ path('item_show', {'id': item.item.id, 'name': item.item.urlName}) }}" title="{% trans %}Show item{% endtrans %}">↑</a>
						</div>
					{% elseif item.linkForFill is not empty %}
						<div class="links-item add">
							<a href="{{ item.linkForFill }}" title="{% trans %}Add item{% endtrans %}">+</a>
						</div>
					{% endif %}
					{% if item.genres is not empty %}
						<ul class="links genres">
							{% for genre in item.genres %}
								<li class="links-item">
									<a href="{{ genre.link }}" title="{% trans %}Genre{% endtrans %}">{{ genre.name }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</figure>
				<figure class="front">
					<a href="{{ item.link }}">
						<img src="{{ item.cover|dummy('catalog') }}" alt="{{ item.name }}" />
					</a>
				</figure>
			</div>
		</div>
	{% endfor %}
</div>
{% endif %}