<div class="b-search-source-hinclude b-search-source-hinclude-{{ plugin }}">
	<h3>{% trans with {'%plugin%': plugin_name} %}Items on %plugin%{% endtrans %}</h3>
	<section>
		{% for item in list %}
			<article>
				<a href="{{ item.link }}" class="image" title="{% trans %}Use to fill{% endtrans %}">
					<img src="{{ item.image|dummy('card') }}" alt="{{ item.name }}" />
				</a>
				<div class="info">
					<a href="{{ item.link }}" class="header" title="{% trans %}Use to fill{% endtrans %}">{{ item.name }}</a>
					<div>{{ item.description|nl2br }}</div>
					{% if item.source %}
						<a href="{{ item.source }}" target="_blank" class="external">{% trans %}Read more{% endtrans %}</a>
					{% endif %}
				</div>
				<br clear="both">
			</article>
		{% endfor %}
	</section>
</div>