{% extends 'AnimeDbCatalogBundle::layout.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<section class="item-show-left">
	<h2>{{ item.name }}</h2>
	<img src="{{ item.webPath|dummy('card') }}" alt="{{ item.name }}" class="cover" />
	<section class="item-summary">{{ item.summary }}</section>
	{{ widgets(widget_in_content, {item: item.id}) }}
	{% if item.episodes %}
		<section class="item-episodes">
			<header>{% trans %}Episodes{% endtrans %}</header>
			<article>{{ item.episodes|nl2br }}</article>
		</section>
	{% endif %}
	{% if item.images is not empty %}
		<section class="item-images">
			<header>{% trans %}Image{% endtrans %}</header>
			<article>
				{% for image in item.images %}
					<a
						href="{{ image.webPath }}"
						data-control="gallery"
						rel="frame"
						title="{{ item.name }}"
					><img
						src="{{ image.webPath|dummy('frame')|apply_filter('frame') }}"
						alt="{{ item.name }}"
					/></a>
				{% endfor %}
			</article>
		</section>
	{% endif %}
	{{ widgets(widget_bottom, {item: item.id}) }}
</section>
<section class="item-show-right">
	<section class="item-controls">
		<header>{% trans %}Record{% endtrans %}</header>
		<article>
			<nav>
				{{ knp_menu_render(knp_menu_get('item', [], {'item': item})) }}
			</nav>
		</article>
	</section>
	<section class="item-info">
		<header>{% trans %}Information{% endtrans %}</header>
		<article>
			<div>
				<strong>{% trans %}Type{% endtrans %}</strong> <a href="{{ path('home_search', {'anime_db_catalog_search_items[type]': item.type.id}) }}">{{ item.type.name }}</a>
			</div>
			{% if item.episodesnumber %}
				<div>
					<strong>{% trans %}Number of episodes{% endtrans %}</strong> {{ item.episodesnumber }} {% trans %}ep.{% endtrans %} 
				</div>
			{% endif %}
			{% if item.duration %}
				<div>
					<strong>{% trans %}The duration of the episode{% endtrans %}</strong> {{ item.duration }} {% trans %}m.{% endtrans %}
				</div>
			{% endif %}
			<div>
				<strong>{% trans %}Status{% endtrans %}</strong>
				{% if item.dateend and item.datepremiere|date('Y') != item.dateend|date('Y') %}
					{% trans %}came out in{% endtrans %}
				{% elseif item.type.id != 'tv' %}
					{% trans %}premiere in{% endtrans %}
				{% else %}
					{% trans %}goes from{% endtrans %}
				{% endif %}
				<a href="{{ path('home_search', {'anime_db_catalog_search_items[date_premiere]': item.datepremiere|date('Y-01-01')}) }}">{{ item.datepremiere|date('Y') }}</a>{% if item.dateend and item.datepremiere|date('Y') != item.dateend|date('Y') %}-<a href="{{ path('home_search', {'search_items[date_end]': item.dateend|date('Y-01-01')}) }}">{{ item.dateend|date('Y') }}</a>{% endif %}
				{% trans %}y.{% endtrans %}
				{# date premiere of issue  #}
				{% set premieredey = item.datepremiere|date('d') %}
				{% set premieremonth = item.datepremiere|date('F') ~ '|' ~ item.datepremiere|date('F') %}
				{# date end of issue  #}
				{% if item.dateend %}
					{% set enddey = item.dateend|date('d') %}
					{% set endmonth = item.dateend|date('F') ~ '|' ~ item.dateend|date('F') %}
					{% set dateend = ' ' ~ 'to'|trans ~ ' ' ~ enddey ~ ' ' ~ endmonth|transchoice(enddey, {}, 'datechoice')|lower ~ ' ' ~ item.dateend|date('Y') ~ ' ' ~ 'y.'|trans %}
				{% else %}
					{% set dateend = '' %}
				{% endif %}
				{% if item.dateend or item.type.id == 'tv' %}
					{% set from = 'From'|trans ~ ' ' %}
				{% else %}
					{% set from = '' %}
				{% endif %}
				(<abbr title="{{ from }}{{ premieredey }} {{ premieremonth|transchoice(premieredey, {}, 'datechoice')|lower }} {{ item.datepremiere|date('Y') }} {% trans %}y.{% endtrans %}{{ dateend }}">?</abbr>)
			</div>
			{% if item.studio %}
				<div>
					<strong>{% trans %}Studio{% endtrans %}</strong> <a href="{{ path('home_search', {'anime_db_catalog_search_items[studio]': item.studio.id}) }}">{{ item.studio.name }}</a>
				</div>
			{% endif %}
			{% if item.country %}
				<div>
					<strong>{% trans %}Country{% endtrans %}</strong> <a href="{{ path('home_search', {'anime_db_catalog_search_items[country]': item.country.id}) }}">{{ item.country.name }}</a>
				</div>
			{% endif %}
			{% if item.storage %}
				<div>
					<strong>{% trans %}Storage{% endtrans %}</strong> <a href="{{ path('home_search', {'anime_db_catalog_search_items[storage]': item.storage.id}) }}">{{ item.storage.name }}</a>
				</div>
			{% endif %}
			<div>
				<strong>{% trans %}Rating{% endtrans %}</strong>
				<span class="b-rating">
					{% for i in 1..5 %}
						<span class="b-star{% if i <= item.rating %} b-select{% endif %}">{{ i }}</span>
					{% endfor %}
				</span>
			</div>
			{% if item.names is not empty %}
				<div>
					<strong>{% trans %}Alternative names{% endtrans %}</strong>
					<ul>
						{% for name in item.names %}
							<li>{{ name.name }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div>
				<strong>{% trans %}Date added{% endtrans %}</strong> {{ item.dateadd|date('d.m.Y') }}
			</div>
			<div>
				<strong>{% trans %}Last updated{% endtrans %}</strong> {{ item.dateupdate|date('d.m.Y') }}
			</div>
		</article>
	</section>
	{% if item.genres is not empty %}
		<section class="item-genres">
			<header>{% trans %}Genres{% endtrans %}</header>
			<article>
					{% for genre in item.genres %}
						<a href="{{ path('home_search', {'anime_db_catalog_search_items[genres][]': genre.id}) }}">{{ genre.name }}</a>{% if not loop.last %}, {% endif %}
					{% endfor %}
			</article>
		</section>
	{% endif %}
	{% if item.labels is not empty %}
		<section class="item-labels">
			<header>{% trans %}Labels{% endtrans %}</header>
			<article>
					{% for label in item.labels %}
						<a href="{{ path('home_search', {'anime_db_catalog_search_items[labels][]': label.id}) }}">{{ label.name }}</a>{% if not loop.last %}, {% endif %}
					{% endfor %}
			</article>
		</section>
	{% endif %}
	{% if item.sources is not empty %}
		<section class="item-sources">
			<header>{% trans %}Sources{% endtrans %}</header>
			<article>
				<ul>
					{% for source in item.sources %}
						<li><a href="{{ source.url }}" target="_blank"><img src="{{ source.url|favicon }}" class="favicon" alt="" /></a></li>
					{% endfor %}
				</ul>
			</article>
		</section>
	{% endif %}
	{% if item.translate %}
		<section class="item-translate">
			<header>{% trans %}Translate{% endtrans %}</header>
			<article>{{ item.translate|nl2br }}</article>
		</section>
	{% endif %}
	{% if item.path is not empty %}
		<section class="item-file-path">
			<header>{% trans %}The path to the files{% endtrans %}</header>
			<article>{{ item.path }}</article>
		</section>
	{% endif %}
	{% if item.fileinfo %}
		<section class="item-file-info">
			<header>{% trans %}File info{% endtrans %}</header>
			<article>{{ item.fileinfo|nl2br }}</article>
		</section>
	{% endif %}
	{{ widgets(widget_right, {item: item.id}) }}
</section>
{% endblock %}
